.app-body{
    background: linear-gradient(to bottom, #20403b 0px, transparent 150px), url(https://s3.gaming-cdn.com/images/products/4824/background/4824.jpg) center 0px no-repeat #20403b;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 160px;
    left: 0;
}

.card-custom{
    width: 1036px;
    margin: 0 auto;
    background: #eee;
    position: relative;
    box-shadow: 0 0 3px rgba(0,0,0,.39);
    border-radius: 10px;
    color: grey;
    padding: 0;
}

.card-header{
    background-image: url(https://s1.gaming-cdn.com/img/products/4824/hcover/4824.jpg);
    background-size: cover;
    height: 17rem;
    margin-bottom: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.grid-list{
    height: 65vh!important;
    overflow: scroll;
    background-color: #eee;
    border-radius: 10px;
}

.gamelist-container{
    padding: 1vh;
}

a{
    text-decoration: none;
    color: grey;
}