.product-detail-back {
    height: 50%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.product-detail-card {
    background: transparent;
    box-shadow: none !important;
    width: 50% !important;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
}

.inline-flex-container {
    display: inline-flex;
    width: 100%;
}

.img-container img {
    border-radius: 15px;
}

.product-info-container {
    width: 65%;
}

.product-info-card {
    background-color: #272727;
    color: white;
    width: 80%;
    float: right;
    border-radius: 15px;
    text-align: center;
    box-shadow: none !important;
}

.add-to-cart-button {
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #ff5400;
    height: 3rem;
    width: 80%;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.price {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.bold {

    font-weight: 500;
}

.product-desc-container {
    width: 100%;
}

.checked {
    color: lightgreen !important;
}

.available-container {
    display: inline-flex;
}

.back-btn {
    position: absolute;
    margin: 2rem;
}

.back-btn svg {
    color: #ff5400;
}

.game-order-specification{
    margin: 1rem 0;
}

.quantity-container{
    display: inline;
    margin: 0 1rem;
}

.quantity-btn {
    border: none;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: #ff5400;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.quantity-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ff5400;
    color: white;
    width: 2rem;
    margin: 0 1rem;
    text-align: center;
}

.select-edition-container select {
    background-color: rgba(255, 84, 0, 0.25);
    border: none;
    border-radius: 2rem;
    padding: 0.5rem;
    color: #ff5400;
    font-size: 1rem;
}

.select-edition-container{
    display: inline;
    margin: 0 1rem;
}