<div class="header">
    <app-header (onSearch)="searchThis($event)"></app-header>
    <div style="background-color: #20403b; height: 70px;">
        <div class="selector-component">
            <select (change)="OnNameSelectorChange($event)">
                <option value="asc">A-Z</option>
                <option value="desc">Z-A</option>
            </select>
            <select (change)="OnDateSelectorChange($event)">
                <option value="asc">Le + récent</option>
                <option value="desc">Le - récent</option>
            </select>
        </div>
    </div>
</div>
